# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

*                        @Cloud-Officer/Maintainers

# build/deploy related files

.github/                 @Cloud-Officer/maintainers
.gitignore               @Cloud-Officer/maintainers
.markdownlint-cli2.yaml  @Cloud-Officer/maintainers
.rubocop.yml             @Cloud-Officer/maintainers
.ruby-version            @Cloud-Officer/maintainers
.shellcheckrc            @Cloud-Officer/maintainers
.yamllint.yml            @Cloud-Officer/maintainers
bin/                     @Cloud-Officer/maintainers
lib/                     @Cloud-Officer/maintainers
