---
actionlint:
  short_name: Actionlint
  long_name: Github Actions Linter
  condition: "(github.event_name == 'pull_request' || github.event_name == 'pull_request_target')"
  uses: cloud-officer/ci-actions/linters/actionlint
  config:
  path: ".github/workflows"
  pattern: ".*\\.(yml|yaml)$"
bandit:
  short_name: Bandit
  long_name: Python Bandit Linter
  uses: cloud-officer/ci-actions/linters/bandit
  config: ".bandit"
  path: "."
  pattern: ".*\\.(py)$"
eslint:
  short_name: ESLint
  long_name: JavaScript ES Linter
  condition: "(github.event_name == 'pull_request' || github.event_name == 'pull_request_target')"
  uses: cloud-officer/ci-actions/linters/eslint
  config: ".eslintrc.json"
  path: "."
  pattern: ".*\\.(js)$"
flake8:
  short_name: Flake8
  long_name: Python Flake8 Linter
  condition: "(github.event_name == 'pull_request' || github.event_name == 'pull_request_target')"
  uses: cloud-officer/ci-actions/linters/flake8
  config: ".flake8"
  path: "."
  pattern: ".*\\.(py)$"
golangci:
  short_name: Golangci-lint
  long_name: Go Linter
  condition: "(github.event_name == 'pull_request' || github.event_name == 'pull_request_target')"
  uses: cloud-officer/ci-actions/linters/golangci
  config: ".golangci.yml"
  path: "."
  pattern: ".*\\.(go)$"
hadolint:
  short_name: Hadolint
  long_name: Docker Linter
  condition: "(github.event_name == 'pull_request' || github.event_name == 'pull_request_target')"
  uses: cloud-officer/ci-actions/linters/hadolint
  config: ".hadolint.yaml"
  path: "."
  pattern: ".*Dockerfile$"
ktlint:
  short_name: KTLint
  long_name: Kotlin Linter
  condition: "(github.event_name == 'pull_request' || github.event_name == 'pull_request_target')"
  uses: cloud-officer/ci-actions/linters/ktlint
  config: ".editorconfig"
  path: "."
  pattern: ".*\\.(kt|kts)$"
markdownlint:
  short_name: Markdownlint
  long_name: Markdown Linter
  condition: "(github.event_name == 'pull_request' || github.event_name == 'pull_request_target')"
  uses: cloud-officer/ci-actions/linters/markdownlint
  config: ".markdownlint.yml"
  path: "."
  pattern: ".*\\.(md)$"
phpcs:
  short_name: PHPCS
  long_name: PHP CS Linter
  uses: cloud-officer/ci-actions/linters/phpcs
  config:
  path: "."
  pattern: ".*\\.(php)$"
phpstan:
  short_name: PHPStan
  long_name: PHP Stan Linter
  uses: cloud-officer/ci-actions/linters/phpstan
  config:
  path: "."
  pattern: ".*\\.(php)$"
pmd:
  short_name: PMD
  long_name: Java Linter
  condition: "(github.event_name == 'pull_request' || github.event_name == 'pull_request_target')"
  uses: cloud-officer/ci-actions/linters/pmd
  config: ".pmd.xml"
  path: "."
  pattern: ".*\\.(java)$"
protolint:
  short_name: Protolint
  long_name: Protocol Buffer Linter
  condition: "(github.event_name == 'pull_request' || github.event_name == 'pull_request_target')"
  uses: cloud-officer/ci-actions/linters/protolint
  config: ".protolint.yaml"
  path: "."
  pattern: ".*\\.(proto)$"
semgrep:
  short_name: Semgrep
  long_name: Semgrep Security Scanner
  condition: "(github.event_name == 'pull_request' || github.event_name == 'pull_request_target')"
  uses: cloud-officer/ci-actions/linters/semgrep
  config: ".semgrepignore"
  preserve_config: true
  path: "."
  pattern: ".*\\.(py|js|jsx|ts|tsx|go|rb|java|kt|php|c|cpp|cs|rs|swift|scala)$"
  permissions:
    actions: read
    contents: read
    security-events: write
rubocop:
  short_name: Rubocop
  long_name: Ruby Linter
  condition: "(github.event_name == 'pull_request' || github.event_name == 'pull_request_target')"
  uses: cloud-officer/ci-actions/linters/rubocop
  config: ".rubocop.yml"
  path: "."
  pattern: "(.*\\/Fastfile$)|(.*\\.(rb)$)"
  directory: fastlane
shellcheck:
  short_name: ShellCheck
  long_name: Shell Scripts Linter
  condition: "(github.event_name == 'pull_request' || github.event_name == 'pull_request_target')"
  uses: cloud-officer/ci-actions/linters/shellcheck
  config: ".shellcheckrc"
  path: "."
  pattern: ".*\\.(sh)$"
swiftlint:
  short_name: Swiftlint
  long_name: Swift Linter
  uses: cloud-officer/ci-actions/linters/swiftlint
  config: ".swiftlint.yml"
  path: "."
  pattern: ".*\\.(swift)$"
yamllint:
  short_name: Yamllint
  long_name: YAML Linter
  condition: "(github.event_name == 'pull_request' || github.event_name == 'pull_request_target')"
  uses: cloud-officer/ci-actions/linters/yamllint
  config: ".yamllint.yml"
  path: "."
  pattern: ".*\\.(yml|yaml)$"
