---
name: Build
'on':
  pull_request:
    types:
    - opened
    - edited
    - reopened
    - synchronize
  push:
    branches:
    - master
    - "[0-9]*"
    - dependabot/**
    tags:
    - "**"
permissions:
  contents: read
  pull-requests: read
env:
  RUBY-BUNDLER-CACHE: true
  RUBY-VERSION: 3.4.8
jobs:
  variables:
    name: Prepare Variables
    runs-on: ubuntu-latest
    outputs:
      BUILD_NAME: "${{steps.variables.outputs.BUILD_NAME}}"
      BUILD_VERSION: "${{steps.variables.outputs.BUILD_VERSION}}"
      COMMIT_MESSAGE: "${{steps.variables.outputs.COMMIT_MESSAGE}}"
      MODIFIED_GITHUB_RUN_NUMBER: "${{steps.variables.outputs.MODIFIED_GITHUB_RUN_NUMBER}}"
      DEPLOY_ON_BETA: "${{steps.variables.outputs.DEPLOY_ON_BETA}}"
      DEPLOY_ON_RC: "${{steps.variables.outputs.DEPLOY_ON_RC}}"
      DEPLOY_ON_PROD: "${{steps.variables.outputs.DEPLOY_ON_PROD}}"
      DEPLOY_MACOS: "${{steps.variables.outputs.DEPLOY_MACOS}}"
      DEPLOY_TVOS: "${{steps.variables.outputs.DEPLOY_TVOS}}"
      DEPLOY_OPTIONS: "${{steps.variables.outputs.DEPLOY_OPTIONS}}"
      SKIP_LICENSES: "${{steps.variables.outputs.SKIP_LICENSES}}"
      SKIP_LINTERS: "${{steps.variables.outputs.SKIP_LINTERS}}"
      SKIP_TESTS: "${{steps.variables.outputs.SKIP_TESTS}}"
      UPDATE_PACKAGES: "${{steps.variables.outputs.UPDATE_PACKAGES}}"
      LINTERS: "${{steps.variables.outputs.LINTERS}}"
    timeout-minutes: 30
    steps:
    - name: Prepare variables
      id: variables
      uses: cloud-officer/ci-actions/variables@master
      with:
        ssh-key: "${{secrets.SSH_KEY}}"
  actionlint:
    name: Github Actions Linter
    runs-on: ubuntu-latest
    needs:
    - variables
    if: "${{needs.variables.outputs.SKIP_LINTERS != '1' && (github.event_name == 'pull_request' || github.event_name == 'pull_request_target')}}"
    timeout-minutes: 30
    steps:
    - name: Actionlint
      uses: cloud-officer/ci-actions/linters/actionlint@v1
      with:
        linters: "${{needs.variables.outputs.LINTERS}}"
        ssh-key: "${{secrets.SSH_KEY}}"
        github_token: "${{secrets.GITHUB_TOKEN}}"
  markdownlint:
    name: Markdown Linter
    runs-on: ubuntu-latest
    needs:
    - variables
    if: "${{needs.variables.outputs.SKIP_LINTERS != '1' && (github.event_name == 'pull_request' || github.event_name == 'pull_request_target')}}"
    timeout-minutes: 30
    steps:
    - name: Markdownlint
      uses: cloud-officer/ci-actions/linters/markdownlint@v1
      with:
        linters: "${{needs.variables.outputs.LINTERS}}"
        ssh-key: "${{secrets.SSH_KEY}}"
        github_token: "${{secrets.GITHUB_TOKEN}}"
  semgrep:
    name: Semgrep Security Scanner
    permissions:
      actions: read
      contents: read
      security-events: write
    runs-on: ubuntu-latest
    needs:
    - variables
    if: "${{needs.variables.outputs.SKIP_LINTERS != '1' && (github.event_name == 'pull_request' || github.event_name == 'pull_request_target')}}"
    timeout-minutes: 30
    steps:
    - name: Semgrep
      uses: cloud-officer/ci-actions/linters/semgrep@v1
      with:
        linters: "${{needs.variables.outputs.LINTERS}}"
        ssh-key: "${{secrets.SSH_KEY}}"
        github_token: "${{secrets.GITHUB_TOKEN}}"
  rubocop:
    name: Ruby Linter
    runs-on: ubuntu-latest
    needs:
    - variables
    if: "${{needs.variables.outputs.SKIP_LINTERS != '1' && (github.event_name == 'pull_request' || github.event_name == 'pull_request_target')}}"
    timeout-minutes: 30
    steps:
    - name: Rubocop
      uses: cloud-officer/ci-actions/linters/rubocop@v1
      with:
        linters: "${{needs.variables.outputs.LINTERS}}"
        ssh-key: "${{secrets.SSH_KEY}}"
        github_token: "${{secrets.GITHUB_TOKEN}}"
  shellcheck:
    name: Shell Scripts Linter
    runs-on: ubuntu-latest
    needs:
    - variables
    if: "${{needs.variables.outputs.SKIP_LINTERS != '1' && (github.event_name == 'pull_request' || github.event_name == 'pull_request_target')}}"
    timeout-minutes: 30
    steps:
    - name: ShellCheck
      uses: cloud-officer/ci-actions/linters/shellcheck@v1
      with:
        linters: "${{needs.variables.outputs.LINTERS}}"
        ssh-key: "${{secrets.SSH_KEY}}"
        github_token: "${{secrets.GITHUB_TOKEN}}"
  yamllint:
    name: YAML Linter
    runs-on: ubuntu-latest
    needs:
    - variables
    if: "${{needs.variables.outputs.SKIP_LINTERS != '1' && (github.event_name == 'pull_request' || github.event_name == 'pull_request_target')}}"
    timeout-minutes: 30
    steps:
    - name: Yamllint
      uses: cloud-officer/ci-actions/linters/yamllint@v1
      with:
        linters: "${{needs.variables.outputs.LINTERS}}"
        ssh-key: "${{secrets.SSH_KEY}}"
        github_token: "${{secrets.GITHUB_TOKEN}}"
  licenses:
    name: Licenses Check
    runs-on: ubuntu-latest
    needs:
    - variables
    if: "${{needs.variables.outputs.SKIP_LICENSES != '1'}}"
    timeout-minutes: 30
    steps:
    - name: Licenses
      uses: cloud-officer/ci-actions/soup@master
      with:
        ssh-key: "${{secrets.SSH_KEY}}"
        github-token: "${{secrets.GITHUB_TOKEN}}"
        parameters: "--no_prompt --soup"
  ruby_unit_tests:
    name: Ruby Unit Tests
    runs-on: ubuntu-latest
    needs:
    - variables
    if: "${{needs.variables.outputs.SKIP_TESTS != '1'}}"
    timeout-minutes: 30
    strategy:
      matrix:
        os:
        - macos-latest
        - ubuntu-latest
    steps:
    - name: Setup
      uses: cloud-officer/ci-actions/setup@master
      with:
        ssh-key: "${{secrets.SSH_KEY}}"
        aws-access-key-id: "${{secrets.AWS_ACCESS_KEY_ID}}"
        aws-secret-access-key: "${{secrets.AWS_SECRET_ACCESS_KEY}}"
        aws-region: "${{secrets.AWS_DEFAULT_REGION}}"
        ruby-version: "${{env.RUBY-VERSION}}"
        ruby-bundler-cache: "${{env.RUBY-BUNDLER-CACHE}}"
    - name: Bundler
      shell: bash
      run: bundle install
    - name: RSpec
      shell: bash
      run: bundle exec ./bin/github-build.rb --skip_dependabot --skip_repository_settings --skip_slack
